<% layout('/layout/boilerplate') %>

<body>
    <div class="mt-3">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading"><%= message %></h4>
        </div>
    </div>
</body>